.App {
  text-align: center;
}
.Nightmode {
  text-align: right;
  padding-top: 1vmin;
  padding-right: 1vmin;
}
.App-logo {
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  overflow: hidden;

  object-fit: cover;
}

.Socials {
  margin-top: 10vmin;
}

.Social {
  transition: opacity 0.5s ease-out;
  opacity: 0.5;
  margin: 1vmin;
  width: 7vmin;
  height: 7vmin;
}

.Social:hover {
  opacity: 1;
}

.Day {
  background-color: #ffffff;
  color: gray;
  transition: background-color 2s linear;
  transition: color 2s linear;
}

.Night {
  background-color: #222223;
  color: #ffffff;
  transition: background-color 2s linear;
  transition: color 2s linear;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Name {
  margin-bottom: 0;
}

.Tagline {
  font-size: calc(7px + 2vmin);
  font-family: "Courier New", Courier, monospace;
}
