.App {
  min-height: 100%;
}

.wiggle:hover {
  -webkit-animation: rotate-hor-center 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-hor-center 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.fade-out-in {
  animation: fade-out-in 0.5s ease-in;
}

.fade-in {
  animation: fade-in 0.5s ease-in 1s;
}

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

.icon {
  border-color: white;
  background-color: white;
  border-bottom-width: 2px;
  border-style: solid;
  margin: 4px;
  border-radius: 50%;
}

.profile-pic {
  border-radius: 50%;
}

.social-header {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  position: absolute;
  bottom: -500px;
  right: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2b2b2b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-515px);
    transform: translateY(-515px);
  }
}

@keyframes fade-out-in {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.speech-bubble {
  position: relative;
  max-width: 30em;
  min-width: 3em;
  min-height: 2.5em;
  background-color: white;
  padding: 1.125em 1.5em;
  line-height: 1.5em;
  font-size: 0.7em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.speech-bubble::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 1.5em;
  right: 100%;
  border: 0.75rem solid transparent;
  border-left: none;

  border-right-color: #fff;
  filter: drop-shadow(-0.0625rem 0 0.0625rem rgba(0, 0, 0, 0.1));
}
